# macOS-specific files
.DS_Store

# Git
.git
.gitignore
.github/
lefthook.yml

# Docker
.docker

# Python
config/__pycache__/
apps/__pycache__/
apps/*/__pycache__/
apps/*/*/__pycache__/
apps/*/*/*/__pycache__/
.env/
.venv/
venv/

# Dependency directories
node_modules/

# Readme
README.md

# VS Code config
.vscode/

# Environments
.env.sample

# SQL dump
db.sql