# macOS-specific files
**/.DS_Store

# Git
.git
.gitignore
.github/

# Docker
.docker

# Python
apps/__pycache__/
apps/*/__pycache__/
apps/*/*/__pycache__/
apps/*/*/*/__pycache__/
.env/
.venv/
venv/

# Readme
README.md

# VS Code config
.vscode/