{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'styles/tailwind.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tailwind.django.css' %}" />
    <script src="{% static 'js/dashboard.js' %}" defer></script>
    <script src="{% static 'js/vendors.js' %}" defer></script>
    {{ msg|json_script:'context' }}
  </head>
  <body>
    <section class="bg-gray-50 dark:bg-gray-900">
      <div
        class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
      >
        <p
          class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
        >
          Company Name
        </p>
        <img
          class="w-64 h-64 object-cover mb-12"
          src="{% static 'images/startup.jpeg' %}"
        />
        <p
          class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
        >
          Dashboard
        </p>
        <div id="root" />
      </div>
    </section>
  </body>
</html>
