{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Getting Started with Django and Webpack</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'build/css/tailwind.django.css' %}"
    />
    <script src="{% static 'js/test-app.js' %}" defer></script>
    <script src="{% static 'js/vendors.js' %}" defer></script>
    {{ msg|json_script:'context' }}
  </head>
  <body>
    <h1 class="text-3xl font-bold underline">
      Django React Hybrid Architecture
    </h1>
    <p>Django html</p>
    <div id="root" />
  </body>
</html>
